@import url("root-variables.css");


.home-page {
  background-color: rgba(255, 251, 0, 0.345);
}

.home__section1 {
  text-align: center;
}

.home__title,
.home__section1>a,
.homePromocode {
  color: var(--main-dark-color);
  font-size: 200%;
  font-weight: 900;
  transition: color 0.5s;
}

.home__section1>a:hover {
  color: rgb(34, 140, 68);
  transition: 0.5s;
}