.modal-window {
    border: 0.5px solid  #2b3b33;
    border-radius: 0.5rem;
    background-color: #708d58;
    color: white;
    min-width: 280px;
    max-width: 500px;
    width: 50%;
    padding: 1.5rem;
    align-content: center;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.btn-close-modal-window {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #2b3b33;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    line-height: 100%;
    border-radius: 1rem;
    margin: 0.2rem;
    padding: 0.3rem 0.4rem;
    height: auto;
    z-index: 11;
}