#catalogSection {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.catalog__container {
    display: flex;
    flex-direction: column;
    width: 18rem;
    border-radius: 1rem;
    margin: 1rem;
    border: 0.5px solid gray;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.catalog__container_img {
    width: 18rem;
    height: 18rem;
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
}

.catalog__container:hover .catalog__container_img {
    transform: scale(1.1);
    opacity: 0.5;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.catalogTitle {
    display: flex;
    flex-grow: 2;
    margin: 1rem;
}

.catalogDescription {
    position: absolute;
    top: -18rem;
    overflow: auto;
    margin: 1rem;
    width: 16rem;
    height: 16rem;
    transition: top 0.3s ease;
}

.catalog__container:hover .catalogDescription {
    top: 0;
}

.catalogPrice {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.catalogPriceTitleOld {
    color: gray;
    text-decoration: line-through;
}

.catalog__sort,
.catalogCategory {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 1rem;
    border: 0.5px solid gray;
}

.catalogCategory {
    flex-direction: column;
    align-items: start;
}

@media (max-width: 990px) {
    .catalog__sort,
    .catalogCategory {
        flex-direction: column;
        align-items: start;
    }
}

.catalogSortTitle,
.catalogSortByPrice {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

.catalogSortByPrice {
    cursor: pointer;
}

.catalogSortByPrice.active {
    font-weight: bold;
}

#catalogSortBy_Z_A {
    flex-grow: 2;
}

.inputSearch {
    height: 2rem;
    width: 60%;
    max-width: 11rem;
    margin-right: 1rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
    outline: none;
}

.link_catalog {
    white-space: pre-wrap;
    cursor: pointer;
}

.link_catalog:hover {
    margin-left: 0.5rem;
}

.link_catalog.active {
    font-weight: bold;
}