.productCardInfoContainer {
    border: 1px solid black;
    font-size: 0.8em;
    margin: 5em;
}

.btnToCart {
    background: url('../images/shopping-cart.png') no-repeat;
    background-position: center;
    background-size: 1rem;
    border-radius: 1em;
    background-color: #557938;
    cursor: pointer;
    color: white;
    margin-left: 35%;

}

.btnToCart:hover {
    opacity: 0.8;
  }

  .btnToCart:disabled {
    background-color: #bc3a2e;
  }
  
  .btnToCart:active {
    transform: scale(0.95);
  }

.removeLink {
    cursor: pointer;
    color: #bc3a2e;
    font-style: italic;
    font-weight: bold;
    font-size: 1.8rem;
}
.removeLink:hover,
.removeLink:active {
    text-decoration: underline;
}

.home__section1 {
    margin-left: 5em;
}

.productCard {
    margin: 2em auto;
    padding: 2em; 
    font-size: 1em;
    width: 90%;
    overflow: hidden;
    border: 1px solid rgb(9, 47, 9);
    border-radius: 2em;
}

.productPriceDiscount {
    color: rgb(101, 43, 9);
}

.productTitle,
.productDescription,
.productPrice,
.productPriceDiscount,
.sliderWrapper {
    margin: 1em auto;
    text-align: justify;
}

.productTitle {
    font-weight: bold;
    color:  rgb(9, 47, 9);
}

.productPriceDiscount {
    font-size: 2rem;
}

.productPrice {
    font-size: 1.5rem;
}

.priceContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h4 {
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(9, 47, 9);
}

.btnToNewVariants {
    margin: 20px 20px 0 0;
    border-radius: 0.5rem;
    outline: none;
    border: 0px solid black;
    background-image: linear-gradient(to right, #708d58 0%, #2b3b33 51%, #708d58 100%);
    background-size: 200% auto;
    background-position: left top;
    border-color: transparent;
    transition: all 0.5s;
    color: white;
    cursor: pointer;
}

.btnToNewVariants:hover {
    background-position: right bottom;
}

.attribute-title {
    margin-bottom: 20px;
}

.infoCheckIsInCart {
    color: rgb(49, 139, 29);
    font-style: italic;
    font-weight: bold;
    font-size: 1.3rem;
}