.registrationForm,
.loginForm {
    width: 60%;
    min-width: 320px;
    max-width: 700px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formTitle,
.loginFormTitle {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.registrationForm__container,
.loginForm__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.registrationForm__label,
.loginForm__label {
    margin-bottom: 0.5rem;
}

.registrationForm input,
.loginForm input {
    height: 2rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    outline: none;
    border: 1px solid black;    
}

.registrationForm input.active,
.loginForm input.active {
    border: 1px solid red;
}

.registrationForm__error {
    font-size: 0.7rem;
    color: red;
    padding-bottom: 1rem;
}

.selectCountry {
    width: 100%;
    height: 2.3rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    outline: none;
    border: 1px solid black; 
}

#registrationForm__container_country {
    padding-bottom: 1.5rem;
}

.registrationForm__container_linc,
.loginForm__container_linc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.registrationForm__title_linc,
.loginForm__title_linc {
    margin-right: 0.5rem;
}

.registrationForm__linc,
.registrationForm__linc:link,
.registrationForm__linc:visited,
.registrationForm__linc:active,
.loginForm__linc,
.loginForm__linc:link,
.loginForm__linc:visited,
.loginForm__linc:active {
    color: #2b3b33;
}