.buttonShoppingCart {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
}

.shoppingCartContainer {
    display: flex;
    flex-direction: row;
}

@media (max-width: 786px) {
    .shoppingCartContainer {
        flex-direction: column-reverse;
    }
}

.shoppingCart_mainContaine {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.shoppingCart_secondContaine {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.cardProduct {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 1rem;
}

@media (max-width: 786px) {
    .cardProduct {
        flex-direction: column;
    }
}

.cardProductImg {
    width: 18rem;
    height: 18rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.cardProductInfo {
    display: flex;
    flex-direction: column;
}

.cardProductTitlePrice,
.cardProductQuantity,
.cardProductTitleTotalPrice {
    margin-top: 1rem;
}

.cardProductPrice {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.cardProductPriceOld {
    margin-left: 1rem;
    color: gray;
    text-decoration: line-through;
}

.cardProductTotalPrice {
    margin-top: 1rem;
    color: darkgreen;
    font-weight: bold;
}

.emptyMessageTitle {
    margin: 1rem;
}

.emptyMessage {
    margin: 1rem;
    width: 18rem;
}

.totalCostTitle {
    margin: 1rem;
}

.totalCost {
    margin: 1rem;
    color: darkgreen;
}

.emptyMessageLink {
    margin: 1rem;
}

.emptyMessageLink:visited {
    color: darkgreen;
}

.buttonRemoveAll {
    margin-top: 2rem;
    border-radius: 0.5rem;
    outline: none;
    border: 0px solid black;
    background-image: linear-gradient(to right, #708d58 0%, #2b3b33 51%, #708d58 100%);
    background-size: 200% auto;
    background-position: left top;
    border-color: transparent;
    transition: all 0.5s;
    color: white;
    cursor: pointer;
    font-size: .8em;
    padding: 0.2em;
}

.buttonRemoveAll:hover {
    background-position: right bottom;
}

.buttonDeleteFromCart,
.buttonChangeQuantity {
    margin-top: 2rem;
    border-radius: 0.5rem;
    outline: none;
    border: 0px solid black;
    background-image: linear-gradient(to right, #708d58 0%, #2b3b33 51%, #708d58 100%);
    background-size: 200% auto;
    background-position: left top;
    border-color: transparent;
    transition: all 0.5s;
    color: white;
    cursor: pointer;
    font-size: .8em;
}

.buttonDeleteFromCart:hover,
.buttonChangeQuantity:hover {
    background-position: right bottom;
}